@model Modelo.Tabelas.Categoria
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Visualizando detalhes de uma CATEGORIA";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Visualizando detalhes de uma CATEGORIA
    </div>
    <div class="panel-body">
        @Html.Partial("~Areas/Tabelas/Views/Categorias/_PartialCategoriasDetailsView.cshtml", Model)
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Alterar", "Edit", new { Area = "Tabelas", id = Model.CategoriaId },
        new { @class = "btn btn-info" })
        @Html.ActionLink("Retornar para a listagem", "Index", null,
        new { Area = "Tabelas", @class = "btn btn-info" })
    </div>
</div>
@Html.Partial("~Areas/Cadastros/Views/Produtos/_PorCategoria.cshtml", Model.Produtos.ToList())